.aboutus{
    margin: 4rem 6rem;
    text-align: start;
}

.aboutus h1{
    padding-bottom: 1rem;
    text-align: justify;
}

.aboutus p{
    padding-bottom: 2rem;
    text-align: justify;
}

@media screen and (max-width: 850px) {
    .aboutus{
        margin: 4rem 2rem;
    }
}